<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Danh sách lớp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header> Trình quản lý sinh viên</header>
        <button>Thêm Lớp</button>
        <button>Xóa Lớp</button>
        <button>Chỉnh sửa</button>
        <h1>Danh sách các lớp của Khóa 26</h1>
        <table>
            <tr> 
                <th>Mã lớp</th>
                <th>Tên Lớp</th>
                <th>Chuyên Ngành</th>
            </tr>
            <tr>
                <td></td>
                <td><a href = "CT26.html">CT2601</a></td>
                <td>Công nghệ thông tin</td>
            </tr>   
        
    </body>
</html>