<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Dự Án</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header> Trình quản lý sinh viên HPU</header>
    <table>
       <tr>
        <th>Họ và tên</th>
        <th>Phụ trách mảng</th>
        <th>eMail</th>
       </tr>
       <tr>
        <td>Trần Lê Đức Anh</td>
        <td>Trưởng dự án, front end và kiểm thử (tester)</td>
        <td><a href="usernameda73@gmail.com">usernameda73@gmail.com</a></td>
       </tr> 
       <tr>
        <td>Lê Đức Anh</td>
        <td>Back End (Django) và Chức Năng</td>
        <td><a href="leducanhx2kthd@gmail.com">leducanhx2kthd@gmail.com</a></td>
       </tr>
       <tr>
        <td>Hoàng Việt Trung</td>
        <td>Back End (Django) và Chức Năng</td>
        <td><a href="Trungviethoang73@gmail.com">Trungviethoang73@gmail.com</a></td>
       </tr>
       <tr>
        <td>Trần Thúy Hường</td>
        <td>Hỗ trợ dự án</td>
        <td><a href="tranthuyhuong2004vthp@gmail.com">tranthuyhuong2004vthp@gmail.com</a></td>
       </tr>
    </table>
</body>
</html>