<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center">
        <h1>ĐĂNG NHẬP</h1>
    <form method="post">
    <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>eMail/Số điện thoại</label>
    </div>
    <div class="txt_field">
        <input type="password" required>
        <span></span>
        <label>Mật khẩu</label>
    </div>
    <div class="pass">Quên mật khẩu à?</div>
    <input type="submit" value="Đăng nhập">
    <div class="signup_link">
        Bạn mới dùng trang web ư? <a href="signup.html">Đăng ký</a>
    </div>
    </form>
</body>
</html>