<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Môn 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header> Trình quản lý sinh viên HPU</header>
    <table>
        <tr>
            <th>STT</th>
            <th>Mã sinh viên</th>
            <th>Họ và tên</th>
            <th>Điêm chuyên cần</th>
            <th>Điểm kiểm tra lần 1</th>
            <th>Điểm trung bình</th>
            <th>Thang điểm 4</th>
            <th>Kết quả</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <button>Thêm Sinh Viên</button>
    <button>Xóa Sinh Viên</button>
</body>
</html>